#  This file is part of systemd.
#
#  systemd is free software; you can redistribute it and/or modify it
#  under the terms of the GNU Lesser General Public License as published by
#  the Free Software Foundation; either version 2.1 of the License, or
#  (at your option) any later version.

[Unit]
Description=Required NFS Mount for OCUM MySQL data
DefaultDependencies=no
Conflicts=umount.target
Before=mysqld.service
After=nfs-client.service
After=network.target

[Mount]
What=10.0.0.129:/ocum_data
Where=/opt/netapp/data
Type=nfs

# Make 'systemctl enable tmp.mount' work:
[Install]
RequiredBy=mysqld.service
